.scroll-block {
  height: 330px;
  overflow-y: scroll;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  border:2px solid black;
}
.booksBlock{
  width: 80%;
  border: 2px solid darkslateblue;
  border-radius: 8px;

}
.bookBlock{
  width: 100%;
  background-color: ghostwhite;
  border-radius: 5px;
}
.wrapBooksBlock{
  width: 95%;
  margin: auto;
}

.ChooseButton{
  width:150px;
}

