
<div class="mainBlock">

<div fxLayout="row"  class="subMainBlock">

  <h1 mat-dialog-title class="modal-title">
    Details
  </h1>
  <button mat-icon-button mat-dialog-close aria-label="Close" class="close-button" color=accent>
    <mat-icon>close</mat-icon>
  </button>
</div>




<div class="Mainline"></div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" class="mainBlockBody">

  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="40%" class="img-block">
    <img [src]="book.cover" alt="Book Cover" fxFlex="70%" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>star</mat-icon>
      <span class="rating">{{ book.rating | number:"1.0-1"}}</span>
      <span class="review-count">({{ book.reviews.length }} reviews)</span>
    </div>
  </div>


  <div fxLayout="column" fxLayoutAlign="none center" fxFlex="60%" fxLayoutGap="10px">
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }},{{book.genre}}</h3>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="scroll-block-content">{{ book.content }}</span>
    </div>
  </div>




</div>
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center" class="review-block">
    <div *ngFor="let review of book.reviews" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">
      <div class="line"></div>
      <h4>{{ review.reviewer }}</h4>
      <p class="review-message">{{ review.message }}</p>
    </div>
  </div>

</div>

