
.mainBlock
{
  width: 800px;
  height: 750px;


}
.mainBlockBody
{
  height: 350px;
}

.subMainBlock{
  display: flex;
  justify-content: center;
}





.modal-title {
 font-size: 30px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;

}

:host {
  display: block;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.img-block{
  height: 450px;
  text-align: center;
}
img {

  width: 270px;
  height: 230px;
  padding-bottom: 25px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.rating {
  font-size: 20px;
  font-weight: 500;
  margin-left: 4px;
}

.review-count {
  font-size: 16px;
  color: #666;
  margin-left: 8px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  margin-bottom: 8px;
}

.genre {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  margin-right: 8px;
}

.divider {
  font-size: 16px;
  color: #666;
  margin: 0 8px;
}

.content {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  width: 400px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin: 0;

}
.review-block
{
  margin-top: 45px;
  padding-bottom: 50px;
}
.review-message
{
  width: 650px;
}

.mainBlockBody
{
  margin-top: 50px;
}
.line
{
  width: 95%;
  background-color: cornflowerblue;
  height: 2px;
  margin-top: 15px;
}
.scroll-block-content
{
  height: 150px;
  width: 400px;
  overflow-y: scroll;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
}
.Mainline
{
  width: 100%;
  background-color: cornflowerblue;
  height: 4px;
}
